body {
    overflow-y: visible; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
	background-color: rgb(214, 244, 255);
  }
    

#UK_GCSE {
	position: absolute;
    width: 100%;
    height: 50px;
    top: 65%;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
}

#UK_A_Level {
	position: absolute;
    width: 100%;
    height: 50px;
    top: 58%;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
}    

@media only screen and (max-width: 600px) {
	#UK_GCSE {
		position: absolute;
		width: 100%;
		height: 50px;
		top: 63%;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 23px;
	}

	#UK_A_Level {
		position: absolute;
		width: 100%;
		height: 50px;
		top: 58%;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 22px;
	}   
}





#Math_Helper_u {
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	position: absolute;
    width: 100%;
    height: 50px;
    top: 40%;
}

#Description {
	position: absolute;
    width: 100%;
    height: 50px;
    top: 51%;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
}

@media only screen and (max-width: 600px) {
	#Description {
		position: absolute;
		width: 100%;
		height: 50px;
		top: 51%;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 23px;
	}
}

#Blob_n {
	fill: url(#Blob_n);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}


.Blob_n {
	filter: drop-shadow(6px 6px 30px rgba(0, 0, 0, 0.561));
	position: fixed;
	width: 55%;
	left: 45%;
    top: 0px;
	transform: matrix(1,0,0,1,0,0);
    z-index: -1;
}

@media only screen and (max-width: 600px) {
	.Blob_n {
		filter: drop-shadow(6px 6px 30px rgba(0, 0, 0, 0.561));
		position: fixed;
		width: 100%;
		left: 0%;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
		z-index: -1;
	}
}


  .button {
    border: none;
    color: rgb(10, 186, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .button1 {
    color: rgb(0, 119, 255); 
    border-radius: 12px;
  }
  
  .button1:hover {
    background-color: #6eb9ff;
    color: rgb(0, 102, 255);
    border-radius: 12px;
  }

  .navbar {
	overflow: hidden;
  }
  
  .navbar a {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	font-family: Montserrat;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: right;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: Montserrat;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(162, 122, 255);
  }
  
  .dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  @media only screen and (max-width: 600px) {
	.navbar {
		overflow: hidden;
	  }
	  
	  .navbar a {
		float: right;
		font-size: 16px;
		color: rgb(0, 0, 0);
		text-align: center;
		font-family: Montserrat;
		padding: 11px 11px;
		text-decoration: none;
		
	  }
	  
	  .dropdown {
		float: right;
	  }
	  
	  .dropdown .dropbtn {
		font-size: 16px;  
		border: none;
		outline: none;
		color: rgb(0, 0, 0);
		padding: 11px 11px;
		background-color: inherit;
		font-family: Montserrat;
		margin: 0;
	  }
	  
	  .navbar a:hover, .dropdown:hover .dropbtn {
		background-color: rgb(162, 122, 255);
	  }
	  
	  .dropdown-content {
		display: none;
		position: fixed;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	  .dropdown-content a {
		float: none;
		color: black;
		padding: 11px 11px;
		text-decoration: none;
		display: block;
		text-align: left;
	  }
	  
	  .dropdown-content a:hover {
		background-color: #ddd;
	  }
	  
	  .dropdown:hover .dropdown-content {
		display: block;
	  }
  }
  

 footer p{
    padding:0;
    font-size: 16px;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 16px 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 20px 0; 
}
footer ul li a{
    padding: 20px; 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
    transition: 100ms;
}

footer{
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 20px; 
    font-size: 20px;
	font-family: Montserrat;
	position: absolute;
}



/* Sticky Footer Styling */
body{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}

@media only screen and (max-width: 600px) {
	footer p{
		padding: 0;
		font-size: 16px;
		color: hsla(0, 50%, 100%, 0.35);
		margin: 16px 0;
		font-size: 1rem;
	}
	footer ul{
		list-style: none;
		display: flex;
		margin: 20px 0; 
	}
	footer ul li a{
		padding: 20px; 
		text-decoration: none;
		color: rgba(0, 0, 0, 0.904);
		transition: 100ms;
	}
	
	footer{
		color: #fff; 
		display: grid;
		place-items: center;
		padding: 10px; 
		font-size: 14px;
		font-family: Montserrat;
	}
  }

#blank{
	position: relative;
    width: 100%;
    top: 65%;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
}